@model TipoCuenta

@{
    ViewData["Title"] = "Crear tipo cuenta";
}

<h1>Crear tipo de cuenta</h1>
<h5>Se refiere a la clasificación de las diversas cuentas financieras que registras. Estas cuentas pueden incluir cuentas corrientes, de ahorros, de inversión, tarjetas de crédito, efectivo y préstamos, entre otras. Clasificar las cuentas por tipo te permite organizar y comprender mejor tus finanzas, facilitando el seguimiento de ingresos y gastos, así como el establecimiento de metas financieras más específicas.</h5>

<form asp-controller="TipoCuenta" asp-action="CrearCuenta">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input  type="text" id="nombre" name="nombre" class="form-control"/>
    </div>

    <button type="submit" class="btn btn-primary">Crear</button>
</form>